<div class="splash">
  <div class="main">
    <div class="dashboard" *ngIf='me$ | async as me'>
      <h1>Ships the Game</h1>
      <p>ID: {{me.mySocket}}</p>
      <ul *ngIf='sockets$ | async as sockets'>
        <li *ngFor='let socket of sockets.keys'>
          {{socket}}<button (click)='invite(socket)' class='invite-btn'><i class="fas fa-envelope"></i></button>
        </li>
      </ul>


      <button (click)='reDeploy()' class='btn random'> <i class="fas fa-dice"></i> </button>
      <button (click)='startTheGame()' class='btn play'>Play</button>
    </div>
    <player-area></player-area>
  </div>
</div>
