@import '../../styles.scss';

.main {
  // height: 50vh;
  border-radius: 4px;
  padding: 40px;
  min-width: 450px;
  max-width: 1000px;
  width: 70vw;
  margin: 15vh auto auto;
  border: 5px solid $yellow-rgba;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.dashboard {
  width: 35%;
  height: 44vh;
  position: relative;
}

.btn {
  transform: translateX(-50%);
  position: absolute;
  background-color: #fff;
  outline: none;
  width: 200px;
  border: none;
  border-radius: 2px;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  transition: .2s;
}

.play {
  bottom: 10%;
  left: 50%;
}

.random {
  font-size: 15px;
  bottom: 0;
  left: 50%;
  width: 90px;
}

.btn:hover {
  cursor: pointer;
  background-color: $yellow-rgba;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-height: 170px;
  padding: 10px;
  overflow-y: auto;
}

li {
  margin-right: 20px;
  list-style-type: none;
  color: #fff;
  margin-bottom: 5px;
}

.invite-btn {
  border-radius: 2px;
  margin-left: 10px;
  font-family: 'Raleway', sans-serif;
  background-color: transparent;
  border: 2px solid lawngreen;
  outline: none;
  color: lawngreen;
  transition: .2s;
}

.invite-btn:hover {
  background-color: lawngreen;
  color: $purpledark-rgba;
  cursor: pointer;
}


h1 {

  text-align: center;
  color: green;
  font-family: 'Raleway', sans-serif;
}

p {
  color: aliceblue;
  font-size: 12px;
  text-align: center;
}

@media (max-width: 1200px) {
  .main {
    width: 45vw;
    padding: 0;
    margin: 20px auto auto;
    height: 90vh;
    align-content: center;
  }

  .dashboard {
    width: 100%;
    height: 44vh;
    justify-content: left;
    position: relative;
  }


  ul {
    margin: auto auto;
    width: 65%;
  }

}
