<div class="main">
  <div class="battlefield">
    <!-- Alphabet row -->
    <div class="alphabet">
      <div class="single-sign" *ngFor='let letter of alphabetArr'>{{letter}}</div>
    </div>
    <!-- Indexes row -->
    <div class="indexes">
      <div class="single-sign" *ngFor='let index of indexesArr'>{{index}}</div>
    </div>
    <!-- Actual player space -->
    <div class="sea sea-player">
      <div *ngFor='let letter of alphabetArr' class="row-fields">
        <single-field *ngFor='let index of indexesArr'></single-field>
      </div>
    </div>
  </div>
  <div class="battlefield">
    <!-- Alphabet row -->
    <div class="alphabet">
      <div class="single-sign" *ngFor='let letter of alphabetArr'>{{letter}}</div>
    </div>
    <!-- Indexes row -->
    <div class="indexes">
      <div class="single-sign" *ngFor='let index of indexesArr'>{{index}}</div>
    </div>
    <!-- Actual player space -->
    <div class="sea sea-enemy">
      <div *ngFor='let letter of alphabetArr' class="row-fields">
        <single-field *ngFor='let index of indexesArr'></single-field>
      </div>
    </div>
  </div>
</div>
