<div class="main">
  <div class="battlefield">
    <!-- Alphabet row -->
    <div class="alphabet">
      <div class="single-sign" *ngFor='let letter of alphabetArr'>{{letter}}</div>
    </div>
    <!-- Indexes row -->
    <div class="indexes">
      <div class="single-sign" *ngFor='let index of indexesArr'>{{index}}</div>
    </div>
    <!-- Actual player space -->
    <div class="sea sea-player">
      <single-field [cord]='index' *ngFor='let index of constIndexes'></single-field>
    </div>
  </div>
  <div class="battlefield">
    <!-- Alphabet row -->
    <div class="alphabet">
      <div class="single-sign" *ngFor='let letter of alphabetArr'>{{letter}}</div>
    </div>
    <!-- Indexes row -->
    <div class="indexes">
      <div class="single-sign" *ngFor='let index of indexesArr'>{{index}}</div>
    </div>
    <!-- Actual player space -->
    <div class="sea sea-enemy">
      <single-field [cord]='index' *ngFor='let index of constIndexes'></single-field>
    </div>
  </div>
</div>
