
.icon-leaf:before { content: '\e800'; } /* '' */
.icon-heart:before { content: '\e801'; } /* '' */
.icon-up-big:before { content: '\e802'; } /* '' */
.icon-home:before { content: '\e803'; } /* '' */
.icon-home-1:before { content: '\e804'; } /* '' */
.icon-info-circled:before { content: '\e805'; } /* '' */
.icon-mail:before { content: '\e806'; } /* '' */
.icon-doc-landscape:before { content: '\e807'; } /* '' */
.icon-docs-landscape:before { content: '\e808'; } /* '' */
.icon-picture:before { content: '\e809'; } /* '' */
.icon-down-open:before { content: '\e80a'; } /* '' */
.icon-location:before { content: '\e80b'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-mail-squared:before { content: '\f199'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-newspaper:before { content: '\f1ea'; } /* '' */
.icon-sticky-note-o:before { content: '\f24a'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */