<div class="main">
  <!-- <div class="battlefield"> -->
    <!-- Alphabet row -->
    <!-- <div class="alphabet">
      <div class="single-sign" *ngFor='let letter of alphabetArr'>{{letter}}</div>
    </div> -->
    <!-- Indexes row -->
    <!-- <div class="indexes">
      <div class="single-sign" *ngFor='let index of indexesArr'>{{index}}</div>
    </div> -->
    <!-- Actual player space -->
    <!-- <div class="sea sea-player">
      <single-field [cord]='cord' [mergedShips]='mergedShips' *ngFor='let cord of constIndexes'></single-field>
    </div>
  </div> -->
  <player-area [alphabetArr]='alphabetArr' [indexesArr]='indexesArr' [mergedShips]='mergedShips' [cordsArr]='constIndexes'>
  </player-area>
  <enemy-area [alphabetArr]='alphabetArr' [indexesArr]='indexesArr' [mergedShips]='mergedShips' [cordsArr]='constIndexes'>
  </enemy-area>
</div>
